<nav class="navbar">
  <div class="logo">Evelyn Santibáñez S.</div>

  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-links" [class.abierto]="menuAbierto">
    <li><a routerLink="/" (click)="cerrarMenu()">Inicio</a></li>
    <li><a routerLink="/sobre-mi" (click)="cerrarMenu()">Sobre mí</a></li>
    <li><a routerLink="/proyectos" (click)="cerrarMenu()">Portafolio</a></li>
  </ul>
</nav>

<div class="nav-overlay" [class.visible]="menuAbierto" (click)="cerrarMenu()"></div>
